<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/assets/hangman.ico" />
    <link rel="stylesheet" href="/assets/styles/jeu.css" />

    <title>In game</title>
  </head>
  <body>
    {{if .Game.Win}}
    <!-- mettre la popup de victoire -->
    {{end}}
    <div class="container">
      <div
        style="
          display: flex;
          flex-direction: row;
          height: 100%;
          align-items: center;
        "
      >
        <div class="button">{{ template "Fleche" .}}</div>
        <h1 style="margin-left: 2vw; color: #eeeeee">Partie en cours</h1>
      </div>

      <div class="wordContainer">
        <h2>{{.Game.Word}}</h2>
      </div>
      <!-- fleche + container -->
      <div
        style="
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          width: 60vw;
          margin-top: 7vh;
        "
      >
        {{range .Game.Alphabet}} {{if .Used}}
        <a class="keyButton" href="/hangman?letter={{.}}">
          <h2>{{.Letter}}</h2>
        </a>
        {{else}}
        <a class="keyButtonUsed">
          <h2>{{.Letter}}</h2>
        </a>
        {{end}} {{end}}
      </div>

      <form
        style="
          display: flex;
          flex-direction: row;
          width: 95%;
          margin-top: 5vh;
          justify-content: space-between;
        "
        action="/hangman"
        method="post"
      >
        <input
          class="input"
          name="word"
          placeholder="Ecrivez un mot"
          autocomplete="off"
        />
        <input type="submit" class="inputButton" />
      </form>
    </div>
    <div style="height: 100%">
      {{if lt .Game.Attempts 10}}
      <!-- premiere barre -->
      {{if lt .Game.Attempts 9}}
      <!-- deuxieme barre -->
      {{if lt .Game.Attempts 8}}
      <!-- deuxieme barre -->
      {{if lt .Game.Attempts 7}}
      <!-- troisième barre -->
      {{if lt .Game.Attempts 6}}
      <!-- quatrieme barre -->
      {{if lt .Game.Attempts 5}}
      <!-- cinquieme barre -->
      {{if lt .Game.Attempts 4}}
      <!-- sixieme barre -->
      {{if lt .Game.Attempts 3}}
      <!-- septieme barre -->
      {{if lt .Game.Attempts 2}}
      <!-- huitieme barre -->
      {{if lt .Game.Attempts 1}}
      <!-- neuvieme barre -->
      {{if lt .Game.Attempts 0}}
      <!-- dixieme barre -->
      {{end}} {{end}} {{end}} {{end}} {{end}} {{end}} {{end}}{{end}} {{end}}
      {{end}} {{end}}
    </div>
    <!-- scoreboard -->
  </body>
</html>
