<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/assets/hangman.ico" />
    <link rel="stylesheet" href="/assets/styles/jeu.css" />

    <title>In game</title>
  </head>
  <body>
    {{if .Game.Loose}}
    <div class="popup">
      <div class="windowPopup">
        <div class="popupTitles">
          <div class="popupTitle">PERDU</div>
          <div class="popupSubTitle">Le mot etait : {{.Game.ToFind}}</div>
        </div>
        <div class="popupButtons">
          <a class="yellow-button" href="/levels">
            <h3>NOUVELLE PARTIE</h3>
          </a>
          <a class="white-button" href="/">
            <h3>ACCUEIL</h3>
          </a>
        </div>
      </div>
    </div>
    {{else if .Game.Win}}
    <div class="popup">
      <div class="windowPopup">
        <div class="popupTitles">
          <div class="popupTitle">GAGNE</div>
          <div class="popupSubTitle">Le mot etait : {{.Game.ToFind}}</div>
        </div>
        <div class="popupButtons">
          <a class="yellow-button" href="/levels">
            <h3>NOUVELLE PARTIE</h3>
          </a>
          <a class="white-button" href="/">
            <h3>ACCUEIL</h3>
          </a>
        </div>
      </div>
    </div>
    {{end}}
    <div class="left-part">
      <div class="left-header">
        <a class="button" href="/">{{ template "Fleche" .}}</a>
        <h1 style="margin-left: 2vmin; color: #eeeeee">Partie en cours</h1>
      </div>

      <div class="left-body">
        <div class="wordContainer">
          <h2>{{.Game.Word}}</h2>
        </div>
        <div class="clavier">
          {{range .Game.Alphabet}} {{if .Used }}
          <a class="keyButtonUsed" href="https://dictionnaire.lerobert.com/definition/abruti" target="_blank">
            <h2>{{.Letter}}</h2>
          </a>
          {{else}}

          <a class="keyButton" href="/hangman?letter={{.Letter}}">
            <h2>{{.Letter}}</h2>
          </a>
          {{end}} {{end}}
        </div>

        <form action="/hangman" method="post">
          <input
            class="input"
            name="word"
            placeholder="Ecrivez un mot"
            autocomplete="off"
            autofocus
          />
          <input type="submit" class="inputButton" value="ENTRER" />
        </form>
      </div>
    </div>
    <div class="right-part">
      <div class="hangman">
        {{if lt .Game.Attempts 10}}
        <img src="../assets/images/hangmanPositions/1.svg" width="36px" class="hangman-part">
        {{if lt .Game.Attempts 9}}
        <img src="../assets/images/hangmanPositions/2.svg" width="36px" class="hangman-part">
        {{if lt .Game.Attempts 8}}
        <img src="../assets/images/hangmanPositions/3.svg" width="36px" class="hangman-part">
        {{if lt .Game.Attempts 7}}
        <img src="../assets/images/hangmanPositions/4.svg" width="36px" class="hangman-part">
        {{if lt .Game.Attempts 6}}
        <img src="../assets/images/hangmanPositions/5.svg" width="36px" class="hangman-part">
        {{if lt .Game.Attempts 5}}
        <img src="../assets/images/hangmanPositions/6.svg" width="36px" class="hangman-part">
        {{if lt .Game.Attempts 4}}
        <img src="../assets/images/hangmanPositions/7.svg" width="36px" class="hangman-part">
        {{if lt .Game.Attempts 3}}
        <img src="../assets/images/hangmanPositions/8.svg" width="36px" class="hangman-part">
        {{if lt .Game.Attempts 2}}
        <img src="../assets/images/hangmanPositions/9.svg" width="36px" class="hangman-part">
        {{if lt .Game.Attempts 1}}
        <img src="../assets/images/hangmanPositions/10.svg" width="36px" class="hangman-part">
        {{end}} {{end}} {{end}} {{end}} {{end}} {{end}} {{end}} {{end}} {{end}}
        {{end}}
      </div>
      {{ $pseudo := .Pseudo}}
      <div class="scoreboard">
        {{range .Scoreboard}}
        <div
          class="scoreboardUser"
          {{if
          eq
          .Position
          1}}
          id="first"
          {{else
          if
          eq
          .Position
          2}}
          id="second"
          {{else
          if
          eq
          .Position
          3}}
          id="third"
          {{else
          if
          eq
          .Pseudo
          $pseudo}}
          id="current-player"
          {{else}}
          id="basic-user"
          {{end}}
        >
          <h3>#{{.Position}} {{.Pseudo}}</h3>
          <h3>{{.Points}}pts</h3>
        </div>
        {{end}}
      </div>
    </div>
  </body>
</html>
