<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/styles/levels.css" />
    <title>Level selector</title>
  </head>
  <body>
    <a class="button" href="/"> {{ template "Fleche" .}} </a>
    <header>
      <a
        style="text-decoration: none; color: #eeeeee; cursor: default"
        href="/setup?easteregg=true"
        ><h1>Niveaux</h1></a
      >
    </header>
    <div class="levelsBox">
      <a href="/setup?level=easy" class="yellow-button">
        <h3>FACILE</h3>
      </a>
      <a href="/setup?level=medium" class="yellow-button">
        <h3>NORMAL</h3>
      </a>
      <a href="/setup?level=hard" class="yellow-button">
        <h3>DIFFICILE</h3>
      </a>
      {{if .FunnyModeEnabled}}
      <a href="/setup?level=easteregg" class="red-button">
        <h3>EASTEREGG</h3>
      </a>
      {{end}}
    </div>
  </body>
</html>
