<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/styles/stats.css" />
    <title>Profil</title>
</head>
<body>
    <div class="header">
        <div class="title">
            <a class="button" href="/">{{ template "Fleche" .}}</a>
            <h1 style="margin-left: 2vmin; color: #eeeeee">Profil</h1>
        </div>
        <a href="/disconnect" class="disconnect-button">Deconnexion</a>
    </div>

    <div class="content">
        <div class="column">
            <div class="stat">
                <div class="staticPart">Pseudo</div>
                <div class="dynamicPart">{{.Pseudo}}</div>
            </div>
            <div class="stat">
                <div class="staticPart">Email</div>
                <div class="dynamicPart">{{.Email}}</div>
            </div>
            <div class="stat">
                <div class="staticPart">Points</div>
                <div class="dynamicPart">{{.Points}}</div>
            </div>
            <div class="stat">
                <div class="staticPart">Victoires</div>
                <div class="dynamicPart">{{.NWin}}</div>
            </div>
            <div class="stat">
                <div class="staticPart">Defaites</div>
                <div class="dynamicPart">{{.NLoose}}</div>
            </div>
            <div class="stat">
                <div class="staticPart">Ratio</div>
                <div class="dynamicPart">{{.Ratio}}</div>
            </div>
        </div>
        <div class="column">
            <div class="stat">
                <div class="staticPart">Scoreboard</div>
            </div>
            {{ $pseudo := .Pseudo}}
            {{range .Scoreboard}}
          <div class="stat" {{if eq .Position 1}} id="first" {{else if eq .Position 2}} id="second" {{else if eq .Position 3}} id="third" {{else}} id="basic-user" {{end}} {{if eq .Pseudo $pseudo}} name="currentPlayer" {{end}}>
            <div class="dynamicPart">#{{.Position}} {{.Pseudo}}</div>
            <div class="dynamicPart">{{.Points}}pts</div>
          </div>
          {{end}}
        </div>
    </div>
</body>
</html>