@mixin body-el($margin, $padding, $flexDirection, $backColor) {
  margin: $margin;
  padding: $padding;
  width: 100% - ($margin + $padding) * 2;
  height: 100% - ($margin + $padding) * 2;
  display: flex;
  flex-direction: $flexDirection;
  background-color: $backColor;
  overflow: hidden;
  font-family: new-order, sans-serif;
  font-style: medium;
}

@mixin container(
  $margin,
  $width,
  $height,
  $display,
  $backColor,
  $color
) {
  margin: $margin;
  width: $width;
  color: $color;
  height: $height;
  display: $display;
  background-color: $backColor;
  border-radius: $height / 2;
  box-shadow: ($height/15) ($height/15) rgba(0, 0, 0, 0.27);
}

@mixin line($width, $height, $degre) {
  width: $width;
  height: $height;
  transform: rotate($degre);
  border-radius: 5vmin;
}

@mixin button($width, $height, $backColor, $fontColor) {
  background-color: $backColor;
  color: $fontColor;
  height: $height;
  width: $width;
  border-radius: $height/2;
  display: flex;
  justify-content: center;
  margin: 2vmin;
  text-decoration-color: $backColor;
  box-shadow: ($height/15) ($height/15) rgba(0, 0, 0, 0.27);
}
