@import "./Templates/_mixin";
@import "./Templates/variable";

body {
  @include body-el(0, 0, column, $backColor);
  color: $fontColor;
  cursor: default;
}

.title {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

h1 {
  margin: 0px;
}

.nav {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.yellow-button {
  @include button(25vw, $yellow, $fontColor);
}

.yellow-button:hover {
  @include button(25vw, $fontColor, $yellow);
  cursor: pointer;
}

.dark-button {
  @include button(25vw, $containerBackColor, $fontColor);
}

.dark-button:hover {
  @include button(25vw, $containerBackColor, $yellow);
  cursor: pointer;
}

h1 {
  font-size: 10vmin;
}

h3 {
  margin: 0px;
  align-items: center;
  display: flex;
  font-size: 5vmin;
}
