@import "./Templates/_mixin";
@import "./Templates/variable";

html {
  height: 100vh;
  width: 100vw;
}

body {
  @include body-el(0, 0, column, $backColor);
  color: $fontColor;
  cursor: default;
}

.title {
  height: 50vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

h1 {
  margin: 0px;
  font-size: 10vmin;
}

.nav {
  height: 50vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.yellow-button {
  @include button(40vmin, 10vmin, $yellow, $fontColor);
  text-decoration: none;
}

.yellow-button:hover {
  @include button(40vmin, 10vmin, $fontColor, $yellow);
  text-decoration: none;
  cursor: pointer;
}

.dark-button {
  @include button(40vmin, 10vmin, $containerBackColor, $fontColor);
  text-decoration: none;
}

.dark-button:hover {
  @include button(40vmin, 10vmin, $containerBackColor, $yellow);
  text-decoration: none;
  cursor: pointer;
}

h3 {
  margin: 0px;
  align-items: center;
  display: flex;
  font-size: 5vmin;
}

.easteregg {
  width: 100%;
  height: 5%;
}

.easteregg:hover {
  cursor: pointer;
}