@import "./Templates/mixin";
@import "./Templates/variable";

body {
  @include body-el(0, 0, column, $backColor);
}

.button {
  @include container(0, 5rem, 5rem, flex, $containerBackColor, 50px);
}

.container {
  @include container(0, 92vw, 10vh, flex, $backColor, 0);
  margin-top: 5rem;
  flex-direction: row;
  align-items: center;
  margin-left: 8vw;
}

h1 {
  font-size: 5rem;
  overflow-wrap: break-word;
}

.topLine {
  @include line(1.5rem, 0.1rem, -45deg);
  margin-left: 1.2rem;
  margin-top: 1.2rem;
  background-color: white;
  position: absolute;
}
.middleLine {
  @include line(1.5rem, 0.1rem, 0deg);
  margin-left: 1.2rem;
  background-color: white;
  align-items: center;
  justify-items: center;
}

.bottomLine {
  @include line(1.5rem, 0.1rem, 90deg);
  margin-left: 1.2rem;
  margin-top: 1.2rem;
  background-color: white;
  position: absolute;
}
