body {
  margin: 0;
  padding: 4%;
  width: 92%;
  height: 92%;
  display: flex;
  flex-direction: row;
  background-color: #232830;
  overflow: hidden;
  font-family: new-order, sans-serif;
  font-style: medium;
  font-weight: 400;
}

.left-part {
  width: 60%;
  height: 85%;
  color: #eeeeee;
  display: flex;
  background-color: #232830;
  flex-direction: column;
  justify-content: space-between;
}

.right-part {
  width: 40%;
  color: #eeeeee;
  display: flex;
  background-color: #232830;
  flex-direction: column;
}

.left-header {
  display: flex;
  align-items: center;
}

.left-body {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.button {
  background-color: #393e46;
  color: #ffd369;
  height: 8vmin;
  width: 8vmin;
  border-radius: 4vmin;
  display: flex;
  justify-content: center;
  margin: 2vmin;
  -webkit-text-decoration-color: #393e46;
          text-decoration-color: #393e46;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: #ffd369;
  color: #393e46;
  height: 8vmin;
  width: 8vmin;
  border-radius: 4vmin;
  display: flex;
  justify-content: center;
  margin: 2vmin;
  -webkit-text-decoration-color: #ffd369;
          text-decoration-color: #ffd369;
}

.button:hover .topLine {
  background-color: #393e46;
}

.button:hover .middleLine {
  background-color: #393e46;
}

.button:hover .bottomLine {
  background-color: #393e46;
}

.topLine {
  width: 2.4vmin;
  height: 0.5vmin;
  transform: rotate(-40deg);
  border-radius: 5vmin;
  background-color: #ffd369;
  margin-top: -1.3vmin;
  margin-left: -2vmin;
  position: absolute;
}

.middleLine {
  width: 3vmin;
  height: 0.5vmin;
  transform: rotate(0deg);
  border-radius: 5vmin;
  background-color: #ffd369;
  position: absolute;
}

.bottomLine {
  width: 2.4vmin;
  height: 0.5vmin;
  transform: rotate(40deg);
  border-radius: 5vmin;
  background-color: #ffd369;
  margin-top: 1.3vmin;
  margin-left: -2vmin;
  position: absolute;
}

.clavier {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.clavier h2 {
  letter-spacing: 0px;
}

.wordContainer {
  margin: 0;
  width: 100%;
  color: #eeeeee;
  height: 10vh;
  display: flex;
  background-color: #393e46;
  border-radius: 5vh;
  border-radius: 5vmin;
  align-items: center;
  justify-content: center;
  font-style: bold;
}

h1 {
  font-size: 7vmin;
  overflow-wrap: break-word;
  margin: 0;
}

h2 {
  margin: 0px;
  font-size: 5vmin;
  justify-content: center;
  letter-spacing: 1vmin;
}

a {
  font-size: 2vmin;
  text-decoration: none;
}

.keyButton {
  background-color: #ffd369;
  color: #eeeeee;
  height: 7vmin;
  width: 7vmin;
  border-radius: 3.5vmin;
  display: flex;
  justify-content: center;
  margin: 2vmin;
  -webkit-text-decoration-color: #ffd369;
          text-decoration-color: #ffd369;
  align-items: center;
  margin: 2vmin;
}

.keyButton:hover {
  color: #ffd369;
  background-color: #eeeeee;
  cursor: pointer;
}

.keyButton:click {
  color: #eeeeee;
  background-color: #393e46;
  cursor: pointer;
}

.input {
  border-radius: 5vmin;
  width: 80%;
  height: 8vmin;
  background-color: #eeeeee;
  color: #232830;
  font-size: 3vmin;
  text-align: center;
  border: none;
}

.inputButton {
  background-color: #eeeeee;
  color: #232830;
  height: 8vmin;
  width: 25vmin;
  border-radius: 4vmin;
  display: flex;
  justify-content: center;
  margin: 2vmin;
  -webkit-text-decoration-color: #eeeeee;
          text-decoration-color: #eeeeee;
  font-size: 3.5vmin;
  margin: 0px;
  margin-left: 2vmin;
  text-align: center;
  border: none;
}

.inputButton:hover {
  background-color: #393e46;
  color: #ffd369;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}/*# sourceMappingURL=jeu.css.map */