@import "./Templates/_mixin";
@import "./Templates/variable";

html {
  height: 100vh;
  width: 100vw;
}

body {
  @include body-el(4%, 0, column, $backColor);
  color: $fontColor;
  cursor: default;
}

.button {
  @include button(8vmin, 8vmin, $containerBackColor, $yellow);
  align-items: center;
  justify-content: center;
  .topLine {
    @include line(2.4vmin, 0.5vmin, -40deg);
    background-color: $yellow;
    margin-top: -1.3vmin;
    margin-left: -2vmin;
    position: absolute;
  }
  
  .middleLine {
    @include line(3vmin, 0.5vmin, 0deg);
    background-color: $yellow;
    position: absolute;
  }
  
  .bottomLine {
    @include line(2.4vmin, 0.5vmin, 40deg);
    background-color: $yellow;
    margin-top: 1.3vmin;
    margin-left: -2vmin;
    position: absolute;
  }
}

.button:hover {
  @include button(8vmin, 8vmin, $yellow, $containerBackColor);
}

.button:hover .topLine {
  background-color: $containerBackColor;
}

.button:hover .middleLine {
  background-color: $containerBackColor;
}

.button:hover .bottomLine {
  background-color: $containerBackColor;
}

header {
    text-align: center;
}

h1 {
    margin: 0px;
    font-size: 10vmin;
}

.levelsBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65vmin;
}

h3 {
  margin: 0px;
  align-items: center;
  display: flex;
  font-size: 5vmin;
}

a {
  margin: 3vmin;
}

.yellow-button {
  @include button(40vmin, 10vmin, $yellow, $fontColor);
  text-decoration: none;
}

.yellow-button:hover {
  @include button(40vmin, 10vmin, $fontColor, $yellow);
  text-decoration: none;
  cursor: pointer;
}
